@font-face {
  font-family: "Sansation Light";
  src: url("../fonts/Sansation_Light.ttf");
}
@font-face {
    font-family: "Sansation Bold";
    src: url("../fonts/Sansation_Bold.ttf");
}

// colors: 
$main_first: #6ab688;
$error: #7c0000;
// vars:
$basic_indent:1.5em;

.auth{
  width: calc(100vw - ($basic_indent * 2));
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 0 $basic_indent * 2;

  &__headings {
    display: block;
    position: relative;
    width: 60%;
    max-width: 1200px;
    height: 100vh;
    font-family: "Sansation Light";
    font-size: $basic_indent * 2;
    color: $main_first;
    
    &_first {
      position: absolute;
      bottom: calc(50vh - .5em);
      right: 50%;
    }

    &_second {
      position: absolute;
      top: calc(50vh - .5em);
      left: 50%;
    }
  }

  &__form {
    width: 30%;
    max-width: 600px;
  }
}
  
@media only screen and (max-width: 500px) {
  .auth  {
    width: 100vw;
    padding: 0 0;

    &__headings {
      display: none;
    }

    &__form {
      width: 90%;
      max-width: 600px;
    }
  }
}