@import 'auth.scss';
@import 'header.scss';

@import 'profile.scss';

@import 'threads.scss';
@import 'thread.scss';

// colors: 
$main_first: #6ab688;
$error: #7c0000;
// vars:
$basic_indent:1.5em;

* {
    padding: 0;
    margin: 0;
}

h1, h2, p, a, label, button, input {
    font-family: "Sansation Light";
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $basic_indent 0;
    border: 1px solid #9fa8b4;
    border-radius: 8px;

    font-family: "Sansation Light";

    &__title {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 200%;
    }

    &__element {
        display: flex;
        flex-direction: column;
        margin-bottom: $basic_indent * 3 / 4;
        width: 80%;

        & label, & input {
            margin-bottom: $basic_indent / 3;
            width: calc(100% - ($basic_indent / 3));
            font-family: "Sansation Light";
            outline: none;
        }

        & input[type=text], & input[type=email], & input[type=password], & input[type=submit]  {
            padding: $basic_indent / 3 $basic_indent / 4;
        }

        & input[type=submit] {
            width: 40%;
            background: $main_first;
            border: none;
            border-radius: 6px;
            color: #fff;
            cursor: pointer;

            transition: ease .8s;

            &:hover {
                background: #81daa4;
            }
        }

        & label, & input[type=submit] {
            font-size: $basic_indent * 3 / 4;
        }
    }

    &__error {
        color: $error;
    }


    &__subtext {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-bottom: $basic_indent * 3 / 4;

        &_span a {
            color: $main_first;
        }
        
        &.center {
            display: flex;
            justify-content: center;
        }
    }



}