@import './constants.scss';


.thread {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    // background: yellowgreen;
    padding: 0 10vw;

    &__create {

        display: flex;
        align-items: center;
        flex-flow: column;

        // background: greenyellow;
        width: 60vw;

        h2 {
            padding: $basic_indent / 2 0;
        }

        &_form {
            // background: red;
            width: 60%;
            padding: 0 $basic_indent;

            input[type=text], textarea {
                margin-bottom: $basic_indent;
                padding: $basic_indent / 3;
                font-size: $basic_indent / 3 * 2;
                outline: none;
            }
            input[type=text] {
                width: 80%;
            }
            textarea {
                width: 80%;
                resize: none;
            }
            label {
                width: 80%;
                margin-bottom: $basic_indent / 4;
                font-size: $basic_indent;
            }
        }
    }
}